<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <ng-container *ngIf="usuario$ | async as usuario">
      <a
        class="navbar-brand"
        [routerLink]="usuario.tipo === 'Tienda' ? '/tienda/home' : '/home'"
      >
        Tienda MasterLoyalty
      </a>
    </ng-container>
  </div>

  <div class="collapse navbar-collapse justify-content-end">
    <ul class="navbar-nav">
      <ng-container *ngIf="usuario$ | async as usuario">
        <li class="nav-item me-3">
          <span class="navbar-text text-white">
            Bienvenido, {{ usuario.usuario }}
          </span>
        </li>

        <!-- Opciones para tienda -->
        <ng-container *ngIf="usuario.tipo === 'Tienda'">
          <li class="nav-item">
            <a class="nav-link" routerLink="/tienda/agregar">Agregar artículo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/tienda/editar">Editar artículos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/tienda/ventas">Ventas</a>
          </li>
        </ng-container>
        <!-- Opciones para cliente -->
        <ng-container *ngIf="usuario.tipo === 'Cliente'">
          <li class="nav-item">
            <a class="nav-link" routerLink="/carrito">
              🛒 Carrito
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/historialCliente">
              📦 Compras
            </a>
          </li>
        </ng-container>


        <li class="nav-item">
          <button class="btn btn-outline-light btn-sm ms-3" (click)="logout()">Cerrar sesión</button>
        </li>
      </ng-container>
    </ul>
  </div>
</nav>