<div class="container mt-4">
  <h3 class="text-primary mb-4">Editar artículos</h3>

  <div *ngIf="articulos.length === 0" class="alert alert-info text-center my-5">
    No tienes artículos dados de alta en la tienda. ¡Empieza agregando uno desde el panel de Agregar Articulo!
  </div>

  <div *ngFor="let art of articulos" class="card mb-3 p-3 shadow-sm">
    <div class="row g-3 align-items-center">
      <div class="col-md-3">
        <img [src]="'https://localhost:7172' + art.imagen" class="img-fluid rounded" alt="Imagen del artículo">
        <input type="file" class="form-control mt-2" (change)="onImagenSeleccionada($event, art.idArticulo)">
      </div>

      <div class="col-md-9">
        <form [formGroup]="formularios[art.idArticulo]" (ngSubmit)="guardarCambios(art.idArticulo)">
          <div class="row">
            <div class="col-md-6 mb-2">
              <label class="form-label">Descripción</label>
              <input type="text" class="form-control" formControlName="descripcion">
            </div>

            <div class="col-md-3 mb-2">
              <label class="form-label">Precio</label>
              <input type="number" class="form-control" formControlName="precio">
            </div>

            <div class="col-md-3 mb-2">
              <label class="form-label">Stock</label>
              <input type="number" class="form-control" formControlName="stock">
            </div>

            <div class="col-md-4 mb-2">
              <label class="form-label">Estado</label>
              <select class="form-select" formControlName="estado">
                <option [value]="true">Activo</option>
                <option [value]="false">Inactivo</option>
              </select>
            </div>
          </div>

          <button type="submit" class="btn btn-warning mt-2">Guardar cambios</button>
        </form>
      </div>

      <nav *ngIf="totalPaginas > 1" class="mt-4">
            <ul class="pagination justify-content-center">
                <li class="page-item" [class.disabled]="paginaActual === 1">
                <button class="page-link" (click)="cambiarPagina(paginaActual - 1)">Anterior</button>
                </li>

                <li
                class="page-item"
                *ngFor="let pagina of [].constructor(totalPaginas); let i = index"
                [class.active]="paginaActual === i + 1"
                >
                <button class="page-link" (click)="cambiarPagina(i + 1)">{{ i + 1 }}</button>
                </li>

                <li class="page-item" [class.disabled]="paginaActual === totalPaginas">
                <button class="page-link" (click)="cambiarPagina(paginaActual + 1)">Siguiente</button>
                </li>
            </ul>
      </nav>


    </div>
  </div>
</div>
